{% extends "base.html" %}
{% load static %}
{% block title %}
  {{ product.name }}
{% endblock %}
{% block content %}
 <div class="container1">

  <!-- Left Column / Headphones Image -->
  <div class="left-column">
    <img src="{% if item.itemImage %}{{ item.itemImage.url }}{% else %}{% static 'images/no_image.png' %}{% endif %}" alt="">
  </div>


  <!-- Right Column -->
  <div class="right-column">

    <!-- Product Description -->
    <div class="product-description">
      <span>{{ item.category }}</span>
      <h1>{{ item.itemName }}</h1>
      <p>{{ item.itemDescription|linebreaks }}</p>
         <p>{{item.itemOwner}} {% if not item.itemOwner.phone_number is None%}: {{item.itemOwner.phone_number}}</p> {%endif%}
        {%if not item.itemOwner.address %}
        <p>No address</p>
        {%else%}
            <p><h5>Address </h5></p>
            <address> {{item.itemOwner.address.address1}} {{item.itemOwner.address.address2}} <br>
            {{item.itemOwner.address.city}}, {{item.itemOwner.address.state}}-{{item.itemOwner.address.zip_code}}<br>
            {{item.itemOwner.address.country}}<br>
            </address>
        {%endif%}
    </div>

    <!-- Product Pricing -->
    <div class="product-price">
      <span>Rent: ${{ item.costPerItem }} per day</span>
    </div>
      <br><br><a href="{% url 'RentalApp:item_list' %}" class="btn btn-secondary ml-2">Back</a>
  </div>
 </div>
{% endblock %}